@page "/Projects/New"
@using ArcaneLibs.Extensions
<h3>New project</h3>

<span>Project name: </span>
<FancyTextBox @bind-Value="@_request.Name"></FancyTextBox>
<br/>
<span>Project repository: </span>
<FancyTextBox @bind-Value="@_request.Repository"></FancyTextBox>
<br/>
@* <span>Room alias: </span> *@
@* <FancyTextBox @bind-Value="@_request."></FancyTextBox> *@
@* <br/> *@

@if (Constants.Debug) {
    <span>Debug: </span>
    <pre>
        @_request.ToJson()
    </pre>
    <br/>
}

<LinkButton OnClick="@CreateProject">Create project</LinkButton>

@code {

    private BugMineClient? Client { get; set; }

    private readonly ProjectInfo _request = new();

    protected override async Task OnInitializedAsync() {
        Client = await BugMineStorage.GetCurrentSessionOrNavigate();
        if (Client == null) {
            return;
        }
    }

    private async Task CreateProject() {
        if (Client == null) {
            return;
        }

        var proj = await Client.CreateProject(_request);
        NavigationManager.NavigateTo($"/Projects/{proj.ProjectSlug}/");
    }

}