@page "/Projects/New"
@using ArcaneLibs.Extensions
@using LibMatrix
<h3>New project</h3>

<span>Project name: </span>
<FancyTextBox @bind-Value="@_request.Name"></FancyTextBox>
<br/>
<span>Project repository: </span>
<FancyTextBox @bind-Value="@_request.Repository"></FancyTextBox>
<br/>
@* <span>Room alias: </span> *@
@* <FancyTextBox @bind-Value="@_request."></FancyTextBox> *@
@* <br/> *@

@if (Constants.Debug) {
    <span>Debug: </span>
    <pre>
        @_request.ToJson()
    </pre>
    <br/>
}

@if (!_busy) {
    <LinkButton OnClick="@CreateProject">Create project</LinkButton>
}
else {
    <p>Powering up the framework... <SimpleSpinner/></p>
}

@code {

    private bool _busy = false;
    
    private bool Busy {
        get => _busy;
        set {
            _busy = value;
            StateHasChanged();
        }
    }
    
    private BugMineClient? Client { get; set; }

    private readonly ProjectInfo _request = new();

    protected override async Task OnInitializedAsync() {
        Client = await BugMineStorage.GetCurrentSessionOrNavigate();
        if (Client == null) {
            return;
        }
    }

    private async Task CreateProject() {
        if (Client == null) {
            return;
        }
        Busy = true;
        try {
            var proj = await Client.CreateProject(_request);
            NavigationManager.NavigateTo($"/Projects/{proj.ProjectSlug}/");

        }
        catch (MatrixException e) {
            
        }
    }

}