@page "/Projects/{ProjectSlug}/"
@using LibMatrix
@using BugMine.Web.Classes.Exceptions
@using ArcaneLibs.Extensions

<ProgressLog ></ProgressLog>

<ProjectContainer ProjectSlug="@ProjectSlug" ProjectContext="@ProjectContext" Loaded="@OnProjectLoaded">
    <h1>Hi from ViewProject!</h1>
    <h1>@ProjectContext!.Project!.Info.Name</h1>

    @if (Progress == "loading-issues") {
        <p>Loading issues, got @(Issues?.Count ?? 0) so far... <SimpleSpinner/></p>
    }

    @* <p>@Project.Description</p> *@
    @if (Issues != null) {
        @foreach (var issue in Issues) {
            <pre>@issue.Data.RawContent.ToJson()</pre>
        }
    }
</ProjectContainer>

@code {
    private string? _progress = "loading";

    public ProjectContainer.ProjectContainerContext? ProjectContext { get; set; } = new();

    [Parameter]
    public string ProjectSlug { get; set; } = null!;

    private List<BugMineIssue>? Issues { get; set; }

    private string? Progress {
        get => _progress;
        set {
            _progress = value;
            StateHasChanged();
        }
    }

    protected async Task OnProjectLoaded() {
        Progress = "loading-issues";
        await foreach (var issue in ProjectContext.Project.GetIssues()) {
            Issues ??= new List<BugMineIssue>();
            Issues.Add(issue);
            StateHasChanged();
        }

        StateHasChanged();
    }

}